__pycache__/Simulator.cpython-310.pyc
__pycache__/optimization.cpython-310.pyc
__pycache__/Evaluations.cpython-310.pyc
__pycache__/DDPM.cpython-310.pyc
__pycache__/dataset.cpython-310.pyc
plot_timelineSimulator.html
plot_timelineMLP.html
plot_timelineMLP_skip.html
param_importancesSimulator.html
param_importancesMLP.html
param_importancesMLP_skip.html
optimization_historySimulator.html
optimization_historyMLP.html
optimization_historyMLP_skip.html
epoch_graphSimulator.html
epoch_graphMLP.html
*.html
*.pth
./graphs/*
scripts/*/__pycache__/*.pth
scripts/__pycache__/*.pth
scripts/__pycache__/*.cpython-310.pyc
scripts/Dataset/__pycache__/*.cpython-310.pyc
scripts/Evaluations/__pycache__/*.cpython-310.pyc
scripts/Networks/__pycache__/*.cpython-310.pyc
scripts/Optimizations/__pycache__/*.cpython-310.pyc
scripts/utils/__pycache__/*.cpython-310.pyc
scripts/train/__pycache__/*.cpython-310.pyc
.vscode
Code.code-workspace
optuna_studies/MLP/*
optuna_studies/*
points_to_simulate/*
data/DiffusionDataset-0-1024-1000-350uA-50dB-30MHz.csv
scripts/graph_code/weights_data_MLP_skip.csv
scripts/graph_code/weights_data_MLP.csv
